@import url("https://fonts.googleapis.com/css?family=Spartan:400,500,600,700,800,900&display=swap");

* {
  font-family: "Spartan";
}

.page-title {
  // font-family: sans-serif;
  margin-left: 100px;
  margin-top: 20px;
}

h2 {
  font-family: "Spartan";
  font-weight: 800;
}
