<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Admin</th>
            <th>Types</th>
            <th>Constraints</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entities; index as index">
            <td style="width:50%">
              <editable (update)="updateField(index, 'name')">
                <ng-template viewMode>{{ entity.name }}</ng-template>
                <ng-template editMode>
                  <input [formControl]="getControl(index, 'name')" focusable editableOnEnter />
                </ng-template>
              </editable>
            </td>

            <td style="width:50%">
              <button>
                <editable (update)="updateField(index, 'isAdmin')">
                  <ng-template viewMode>{{ entity.isAdmin }}</ng-template>
                  <ng-template editMode>
                    <input type="checkbox" [formControl]="getControl(index, 'isAdmin')" />{{ entity.isAdmin }}
                  </ng-template>
                </editable>
              </button>
            </td>

            <td style="width:50%">
              <editable (update)="updateField(index, 'type')">
                <ng-template *ngFor="let type of types;
                  let i = index" value="option" viewMode>{{ typeKeyToDisplay(entity.type) }}
                </ng-template>
                <ng-template editMode>
                  <select [formControl]="getControl(index, 'type')" focusable editableOnEnter>
                    <option *ngFor="let type of types; let i = index" [value]="type.value">
                      {{ type.viewValue }}</option>
                  </select>
                </ng-template>
              </editable>
            </td>

            <td style="width:50%">
              <editable (update)="updateField(index, 'constraint')">
                <ng-template *ngFor="let constraint of constraints;
                    let i = index" value="option" viewMode>{{ constraintKeyToDisplay(entity.constraint) }}
                </ng-template>
                <ng-template editMode>
                  <select [formControl]="getControl(index, 'constraint')" focusable editableOnEnter>
                    <option *ngFor="let constraint of constraints; let i = index" [value]="constraint.value">
                      {{ constraint.viewValue }}</option>
                  </select>
                </ng-template>
              </editable>
            </td>

            <!-- <td style="width:50%">
              <mat-form-field>
                <mat-label>{{ entity.constraint }}</mat-label>
                <mat-select>
                  <mat-option
                    *ngFor="let constraint of constraints; let i = index"
                    [value]="constraint.value"
                    >{{ constraint.viewValue }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </td> -->

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  --- Original Entities ---
  <br />
  <code>
    {{ entities | json }}
  </code>

  <br />
  <br />

  --- ArrayForm Value ---

  <br />
  <code>{{ controls.value | json }}</code>
</div>
